header{
    padding: 2rem;
    margin-bottom: 5rem;
}

.row-li{
    display: flex;
}
.flex{
    display: flex;
   
}
.content-list{
    font-weight: 600;
    display: flex;
    list-style: none;
    gap: 30px;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.button-search{
   margin-right: 20rem;
}
.button-header{
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 23px;

 
}
.rounded-button{
   outline: none;
   border: none;
   background-color: inherit;
   font-size: 16px;
   background-color: black;
   color: white;
   border-radius: 30px;
   padding: 10px 35px;
   height: 50px;
   transform: translate(10px , -8px);
}
.logo{
    font-family: "Pixelify Sans" , sans-serif;
    font-size: 25px;
}

@media (max-width : 1100px){
    .buttonsIcons{
        display: none;
    }
    .content-list > ul{
        display: none;
    }
}